@{
    ViewData["Title"] = "Login page";
}
@model SantasWishlistWeb.Viewmodels.LoginForm

<h1>Log in</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Naam</label>
                <input asp-for="UserName" name="Username" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Wachtwoord</label>
                <input asp-for="Password" type="password" name="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>